body {
  font-family: Arial, sans-serif;
  background-color: MediumPurple;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: white;
}

.container {
  text-align: left;
  margin: 0 auto;
  width: 300px;
  border: 1px solid #ccc;
  padding: 20px;
  background: transparent;
  backdrop-filter: blur(20px);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

h2 {
  margin-bottom: 20px;
  text-align: center;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
}

.form-group input {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
}

button {
  padding: 10px 20px;
  background-color: white;
  color: MediumPurple;
  border: none;
  cursor: pointer;
  width: 100%;
  border-radius: 40px;
}

button:hover {
  background-color: blueviolet;
  color: white;
}
